# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build/
downloads/
*.log
*.csv
*.txt
*.ipynb

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv

# OS cache
.DS_Store
